/* esta es la hoja de estilo*/
body{background-color:#90a7d3;}
h1{color:#FFFFFF;}
h2{color:#FFFFFF;}
p{color:#FFFFFF;}
#parr1{color: #0000FF;}
.centrar{text-align: center; color: #FFFF00;}
header{
    background-color: #0000FF;
    color: #ffffff;
    font-size: 50px;
    padding: 20px;
}
footer{
    background-color: #FFFF00;
    color:#ff0000;
    padding: 5px;
    text-align: center;
}